
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Светлый фон */
}

/* Стили заголовка */
header {
    background: #35424a; /* Темный фон */
    color: #ffffff; /* Белый текст */
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
}

nav ul li {
    display: inline; /* Выравниваем элементы списка в одну строку */
    margin-right: 20px; /* Отступ между элементами */
}

nav a {
    color: #ffffff; /* Белый текст для ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

/* Основные стили для секций */
main {
    max-width: 800px; /* Максимальная ширина контента */
    margin: 20px auto; /* Центрируем контент */
    padding: 20px;
    background: #ffffff; /* Белый фон для основного контента */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта глубины */
}

/* Стили для заголовков секций */
h2 {
    color: #35424a; /* Цвет заголовков */
}

/* Стили для форм */
form {
    margin-bottom: 20px; /* Отступ снизу для форм */
}

label {
    display: block; /* Каждое поле на новой строке */
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"] {
    width: 100%; /* Ширина поля ввода */
    padding: 10px; /* Отступ внутри поля ввода */
    border: 1px solid #ccc; /* Светлая рамка */
    border-radius: 4px; /* Закругленные углы */
    margin-bottom: 10px; /* Отступ между полями ввода */
}

/* Стили для кнопок */
button {
    background-color: #35424a; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем рамку */
    padding: 10px 15px; /* Отступы внутри кнопки */
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
}

button:hover {
    background-color: #454d55; /* Цвет кнопки при наведении */
}

/* Стили для списка детей и курсов */
ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0;
}

details {
    margin-bottom: 10px; /* Отступ между элементами details */
}

/* Стили для подвала */
footer {
    text-align: center; /* Центрируем текст в подвале */
    padding: 10px 0;
    background-color: #35424a; /* Темный фон подвала */
    color: white; /* Белый текст подвала */
}

.main-title {
    margin-left: -12000000px; /* Установите значение, чтобы сместить заголовок влево */
}

.header-title {
    margin-left: -2000px; /* Сдвигаем заголовок влево на 20 пикселей */
}

.nav-menu {
    margin-left: -2000px; /* Сдвигаем меню навигации влево на 20 пикселей */
}